@layer components {
    .tile {
        /* 20px -> 48px | Min viewport 320px | Max viewport 1300px */
        height: clamp(1.25rem, 0.6786rem + 2.8571vw, 3rem);
        width: clamp(1.25rem, 0.6786rem + 2.8571vw, 3rem);
        color: #1b1b1b;
        @apply flex justify-center items-center border text-lg font-semibold border-skin-600 bg-skin-500;
    }

    .lx2 {
        background: #9fc6d3; /* Letter Bonus x2 */
    }
    .lx3 {
        background: #4f8fa8; /* Letter Bonus x3 */
    }
    .wx2 {
        background: #e2a1a6; /* Word Bonus x2 */
    }
    .wx3 {
        background: #c94b4b; /* Word Bonus x3 */
    }
}
