@layer components {
    .btn {
        @apply bg-burgundy hover:bg-burgundy-dark text-white font-bold rounded disabled:bg-btn-disabled hover:cursor-pointer;
    }

    .btn-submit {
        @apply bg-action hover:bg-action/90 font-bold text-white rounded px-3 py-2 hover:cursor-pointer;
    }

    .btn-add {
        @apply bg-add-player hover:bg-add-player/90 hover:cursor-pointer shadow-xl font-bold text-white rounded px-3 py-2;
    }

    .btn-delete {
        @apply bg-red-error hover:cursor-pointer hover:shadow-xl disabled:bg-gray-900/70;
    }
}
